//
   Created by sleisangthem on 6/26/18.
.panel.panel-default
    .panel-heading(data-toggle='collapse', data-target='#collapseList2')
        h3.panel-title
            | Collapsible Linked List Group
    #collapseList2.list-group.collapse.in
        a.list-group-item(href='#')
            span.pull-right.badge.badge-default 44
            |  Link 1
        a.list-group-item(href='#')
            span.pull-right.badge.badge-default 8
            |  Link 2
        a.list-group-item(href='#')
            span.pull-right.badge.badge-default 23
            |  Link 3
        a.list-group-item.text-muted(href='#') Link n..